[features]
resolution = false
skip-lint = false

[programs.localnet]
forward = "BwMMU9rwkXmLdTL5VLBRwkinri2wW1J6pnwTsVv8PvY9"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[test]
startup_wait = 10000
